GUI/Connected Services/FlightHotelServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50497/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50497/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50497/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlightHotel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlights" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNearbyHotels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNearbyHotels" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNearbyHotels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNearbyHotelsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFlights" message="tns:IService1_GetFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFlightsResponse" message="tns:IService1_GetFlights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNearbyHotels">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNearbyHotels" message="tns:IService1_GetNearbyHotels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNearbyHotelsResponse" message="tns:IService1_GetNearbyHotels_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFlights">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNearbyHotels">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNearbyHotels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50497/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>