GUI/Connected Services/FlightHotelServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50497/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlightHotel" />
  <xs:element name="GetFlights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Adults" type="xs:int" />
        <xs:element minOccurs="0" name="Cabin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FlightHotel" minOccurs="0" name="GetFlightsResult" nillable="true" type="q1:ArrayOfFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearbyHotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearbyHotelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FlightHotel" minOccurs="0" name="GetNearbyHotelsResult" nillable="true" type="q2:ArrayOfHotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>